//Explore tools bar buttons
//Order button
.sort--button {
  width: 170px;
  height: 35px;
  color: #5d6069;
  background: url(../components/images/icon-caret-bottom.svg) no-repeat 145px 12px;
  background-color: $colorBackground;
  background-size: 9px;
  margin-right: 8px;
  @include border();
  padding-left: 5px;
  /*Delete default icon in select for firefox*/
  -moz-appearance: none;
  /*Delete default icon in select for chrome*/
  -webkit-appearance: none;
  /*Delete default icon in select for explorer*/
  &-ms-expand {
    display:none;
  }
}

.sort--option {
  height: 50px;
}

//Visualization action buttons
.views--grid {
  width: 35px;
  height: 35px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid $colorBorder;
}

.views--grid-gridActive {
	background: url(../components/images/ico-vista-galeria-soft.svg) #ebebeb no-repeat 11px 10px;
}

.views--grid-listActive {
	background: url(../components/images/ico-vista-galeria.svg) $colorBackground no-repeat 11px 10px;
}

.views--list {
  width: 35px;
  height: 35px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid $colorBorder;
}

.views--list-gridActive {
  background: url(../components/images/ico-vista-listado.svg) $colorBackground no-repeat 10px 10px;
}

.views--list-listActive {
	background: url(../components/images/ico-vista-listado-soft.svg) #ebebeb no-repeat 10px 10px;
}

//Filter
.filter--button {
  width: 170px;
  height: 35px;
  color: #5d6069;
  background: url(../components/images/icon-caret-bottom.svg) no-repeat 145px 12px;
  background-color: $colorBackground;
  background-size: 9px;
  text-align: left;
  margin-right: 20px;
  cursor: pointer;
  @include border();
}

//Search input
.search--input {
  width: 138px;
  height: 31px;
  background: url(../components/images/ico-buscar.svg) no-repeat 10px 10px;
  background-color: $colorBackground;
  background-size: 17px;
  padding-left:30px;
  text-align: left;
  @include border();
  line-height: 47px;
}

.social {
	display: flex;
	justify-content: flex-start;
  flex-wrap: wrap;
  @media all and (min-width:770px) {
    margin-top: 17px;
    }
}
.button--social {
    background-color: $colorBackground;
    cursor: pointer;
    padding: 5px 15px 5px 5px;
    @include border();

}
.box--button{
	display: flex;
  margin-right: $iconSize;
  margin-bottom: 15px;
}
.counter {
    position: relative;
    background: $colorBackground;
    padding: 5px;
    font-size: 15px;
    border-top: 1px solid #e0e0e0;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    border-radius: 0px 2px 2px 0px;
}
.counter:after,
.counter:before {
    right: 100%;
    top: 50%;
    border: solid rgba(0, 0, 0, 0);
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-style: solid;
    margin-top: -5px;
}
.counter:after {
  top: 14px;
  border-color: transparent white transparent transparent;
  border-width: 5px;
}
.counter:before {
  top: 13px;
  border-color: transparent #959595 transparent transparent;
  border-width: 6px;
}
.icon--social{
  width: $iconSocialSize;
  height: $iconSocialSize;
	background-color: $colorBackground;

}

//Buttons for the page
.pagination{
	display: flex;
  justify-content: center;
}

.pagination-page{
	background-color: $colorBackground;
	border-radius: 4px;
	box-shadow: 0 1px 3px #c7c7c7;
	padding-left: 20px;
	padding-right: 20px;
	color: #5d6069;
	margin-left: 20px;
  margin-right: 20px;
	max-height: 35px;
	min-height: 35px;
	line-height: 15px;
	&:hover{
		background-color: #dbdee3;
    color: #8c919b;
	}
  &:disabled {
    opacity: .5;
  }
}

.button-page {
	width: 41px;
	height: 35px;
	overflow: visible;
	background-color: $colorBackground;
	line-height: 0;
	&:hover{
		background-color: #dbdee3;
    color: #8c919b;
	}
}
