.social{
  display: flex;
  justify-content: flex-start;
  margin-top: 30px;
}
.button--social{
	background-color: #ffffff;
	cursor:pointer;
	border: none;
	margin-right: 5px;
  padding: 5px;
}

.button--social:after {
	border-left: 10px solid transparent;
	border-right: 20px solid transparent;
}
.box--button{
	display: flex;
  margin-right: 20px;
}
.counter{
	background-color:  #ffffff;
  font-size: 15px;
}
.icon--social{
  width: 12px;
  height: 12px;
}
