//Visualizations
.views--grid, .views--list {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 35px;
  height: 35px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff;
}
