//Search projects and order views
.search, .order-view {
  color: #8c919b;
  text-align: left;
  height: 34px;
  font-style: italic;
  min-width: 70px;
  padding-right: .2em;
  padding-left: .5em;
  align-items: center;
  background-color: #ffffff;
}
