//Actions bar
.explore--toolbar {
  width: 100;
  height: 35px;
  padding: 20px;
}

.explore--toolbar--container {
  height: 35px;
  display: flex;
  justify-content: space-between;
}

//Visualization
.order--views--container, .filter-search--container {
  display: flex;
  display: column;
}

//Filter button container --General container
.filters {
  display: inline-block;
  order: 1;

  @media all and (min-width: 650px) {
    order: 0;
  }
}

//filter button and options container
.filter-search--container {
  flex-direction: column;

  @media all and (min-width: 650px) {
    flex-direction: row;
  }
}

.filter--container {
  position: relative;
}

//All filter options
.filter--options {
  padding: 20px 0;
  position: absolute;
  background: #ffffff;
  width: 98vw;
  top: 100%;
  right: -7%;
  display: flex;
  justify-content: flex-start;
  z-index: 1000;
  @include border();

  @media all and (min-width: 650px) {
    right: -97%;
  }
}

.filter--off {
  display: none;
}

.filter--item {
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  text-align: left;
  color: #5d6069;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list {
  padding-left: 2em;
  padding-right: 2em;
}

.filter--title {
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  color: #373b44;
}

.projects, .boards-robots, .components {
  margin: 0;
  padding: 0;
  display: grid;
  grid-gap: 15px;
}

.boards-robots {
  grid-template-columns: repeat(2, 1fr);
}

.components {
  grid-template-columns: repeat(5, 1fr);
}

input[type="checkbox"]:not(:checked) {
  width: 30px;
  height: 15px;
  border-radius: 3px;
}

input[type="checkbox"] {
  width: 20px;
  height: 14px;
  border-radius: 3px;
}


//fecha de actualización tenemos que ordenar los filtros

//Profile User
.wrapper {
  margin: 0 $iconSize;
}

.profile {
  position: relative;
  padding: 1em;
  &::before {
    content: '';
    position: absolute;
    z-index:1;
    left:0;
    bottom: 0;
    height: 60%;
    background: #e0e0e0;
    width: 100%;
    @media all and (min-width:578px) {
      height: 55%;
    }
    @media all and (min-width:804px) {
      height: 52%;
    }
  }
  .wrapper {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: $iconSize;
  }
 }
.profile--avatar {
  grid-column: 1/2;
  grid-row: span 2;
}
.profile--avatar-image {
  width: $avatarSize;
  height: $avatarSize;
  border-radius: 50%;
  border: 2px solid $colorName;
}
.profile--name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  grid-column: 2/3;
}
.profile--name-real{
  margin-bottom: 5px;
  margin-right: 15px;
  font-size: 1.3em;
  @media all and (min-width:770px) {
    font-size: 1.5em;
    }
}
.profile--name-user{
  font-size: 1em;
  color: $colorName;
  margin-top: 18px;
  @media all and (min-width:770px) {
    margin-top: 18px;
    font-size: 1.3em;
    }
}
.profile--role {
    grid-column: 2/3;
    grid-row: 2/3;
    margin:0;
}
.proyect--number{
  font-size: 1em;
  margin-top: 5px;
  color: #6b6b6b;
  @media all and (min-width:770px) {
    margin-top: 17px;
    font-size: 1.2em;
    }
}
.icon {
  height: $iconSize;
  width: $iconSize;
}
.user--data{
  display: flex;
  flex-direction: column;
  @media all and (min-width:770px) {
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    }
}


//Projects grid
.projects--general-container-grid {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-row-gap: 24px;
	grid-column-gap: 23px;
	padding: 30px;

	.project-card--container-img {
			max-width: 285px;
			height: 190px;
	}

	.project-card--img-link {
		height: 190px;
	}

	.project-card--container-info {
		padding-left: 10px;
		padding-right: 16px;
		padding-top: 17px;
		padding-bottom: 18px;
	}

	.project-card--project-description {
		display: none;
	}

	.project-card--username-content {
		line-height: 28px;
	}


	@media all and (max-width: 1183px) {
		grid-template-columns: repeat(3, 1fr);
	}
	@media all and (max-width: 700px) {
		grid-template-columns: repeat(2, 1fr);
	}
	@media all and (max-width: 486px) {
		grid-template-columns: 1fr;
	}
}


.projects--general-container-list {
	// display: block;
	// grid-template-columns: 1fr;
	// grid-row-gap: 20px;
	padding: 30px;

	.projects--project-card-container {
		margin-bottom: 20px;
		display: flex;
	}

	.project-card--container-img {
		flex-basis: 196px;
		// width: 196px;
		height: 133px;
	}

	.project-card--img-link {
		height: 133px;
	}

	.project-card--container-info {
		// width: auto;
		// flex-basis: auto;
		// max-width: 700px;
		// width: 700px;
		width: auto;
		width: 100%;
		height: 92px;

		padding-left: 21px;
		padding-right: 32px;
		padding-top: 20px;
		padding-bottom: 21px;
	}

	.project-card--project-description {
		line-height: 18px;
		text-align: left;
		font-size: 12px;
		font-weight: normal;
		color: #8c919b;
		margin: 0;
	}

	.project-card--username-content {
		line-height: 34px;
	}
}

.projects--project-card-container {
	@include border();
}

.project-card--container-img {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	cursor: pointer;
}

.project-card--img-link {
	display: block;
}

.project-card--container-info {
	font-family: Roboto;
	font-size: 12px;
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	// line-height: 1.75;
	line-height: 2.33;
	letter-spacing: normal;
	text-align: left;
	color: #8c919b;
	background-color: white;
}

.project-card--main-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	font-weight: bold;
	font-style: normal;
	font-stretch: normal;
	letter-spacing: normal;
	line-height: 2;
	color: #373b44;

	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.project-card--project-data {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
}

.project-card--username {
	margin: 0;
	line-height: 28px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	// line-height: 2.33;
	color: #8c919b;
}

.project-card--username-content {
	font-size: 12px;
  font-weight: bold;
	text-align: left;
  color: #82ad3a;
}

.project-card--community-stats {
	flex-direction: row;
	margin: 0;
	line-height: 28px;
	text-align: left;
	font-size: 12px;
	font-weight: normal;
	color: #8c919b;
}

.project-card--timesLiked {
	display: inline-flex;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	padding-right: 9px;
}

.project-card--timesLiked-notLiked {
	display: inline-flex;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	padding-right: 9px;
	background-image: url('../components/images/heart-empty.svg');
}

.project-card--timesLiked-Liked {
	display: inline-flex;
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
	padding-right: 9px;
	background-image: url('../components/images/heart-full.svg');
}

.project-card--timesDownloaded {
	display: inline-flex;
	background-image: url('../components/images/plusCircle.svg');
	background-repeat: no-repeat;
	background-position: left;
	padding-left: 20px;
}
