//Actions bar
.explore--toolbar {
  width: 100;
  height: 35px;
  padding: 20px;
}

.explore--toolbar--container {
  height: 35px;
  display: flex;
  justify-content: space-between;
}

//Visualization
.views--container, .filter-search--container {
  display: flex;
}

.icon-down {
  width: 10px;
  height: 10px;
}
