.header {
	height: 70px;
	max-height: 70px;
	width: 100%;
	background-color: #373b44;
	display: flex;
	flex-direction: row;
}

.header--icon {
	background-color: #82ad3a;
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		background-color: #5b7929;
	}
}

.header--icon--logo {
	height: 30px;
	width: 30px;
}

.header--menu {
	width: 420px;
}

.header--menu--list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	margin-top: 25px;
	@media all and (max-width: 520px){
		padding: 5px;
	}
}

.menu--link {
	text-decoration: none;
	
}

.menu--link-projects {
	background-image: url('../components/images/icon-students.svg');
	background-repeat: no-repeat;
	padding: 0;
	&:hover {
		background-image: url('../components/images/icon-students-2.svg');
		padding: 0 0 10px;
	}
}

.menu--link-explore {
	background-image: url('../components/images/icon-story.svg');
	background-repeat: no-repeat;
	&:hover {
		background-image: url('../components/images/icon-story-2.svg');
	}
}

.menu--link-users {
	background-image: url('../components/images/icon-students.svg');
	background-repeat: no-repeat;
	&:hover {
		background-image: url('../components/images/icon-students-2.svg');
	}
}

.menu--link-learn {
	background-image: url('../components/images/icon-story.svg');
	background-repeat: no-repeat;
	&:hover {
		background-image: url('../components/images/icon-story-2.svg');
	}
}

.menu--link-forum {
	background-image: url('../components/images/icon-students.svg');
	background-repeat: no-repeat;
	&:hover {
		background-image: url('../components/images/icon-students-2.svg');
	}
}

.menu--link--span {
	color: #676a71;
	padding-right: 20px;
	padding-left: 20px;
	&:hover {
		color: #FFFFFF;
	}
	@media all and (max-width: 520px) {
		padding-right: 5px;
	}
}


.menu--image {
	position: absolute;
	right: 0;
	height: 70px;
	display: flex;
	align-items: center;
	margin-right: 20px;
}

.header--menu-image {
	width: 40px;
	height: 40px;
	@media all and(max-width: 520px) {
		width: 30px;
		height: 30px;
	}
}
