.header {
	height: 70px;
	max-height: 70px;
	width: 100%;
	background-color: #373b44;
	display: flex;
	flex-direction: row;
	font-family: 'Robotp-Regular'sans-serif;
	font-size: 13px;
}

.header--icon {
	background-color: #82ad3a;
	height: 70px;
	width: 70px;
	display: flex;
	justify-content: center;
	align-items: center;
	&:hover {
		background-color: #5b7929;
	}
}

.header--icon--logo {
	height: 30px;
	width: 30px;
}

.header--menu {
	width: 420px;
	@media all and (min-width: 468px) {
		width: 320px;
	}
}

.header--menu--list {
	list-style: none;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 0;

}

.menu--link-projects {
	background: url('../components/images/icon-students.svg')center 10px no-repeat;
  padding: 30px 10px 0;
  display: inline-block;
  text-decoration: none;
	color: #676a71;
	width: 15px;
	height: 13px;
		&:hover {
		background: url('../components/images/icon-students-2.svg');
		background-repeat: no-repeat;
		color: #FFFFFF;
	}
	@media all and (min-width: 468px) {
			background: url('../components/images/icon-students.svg')left center no-repeat;
		  padding: 0 0 0 30px;
		  display: inline-block;
	}
}

.menu--link-explore {
	background: url('../components/images/icon-students.svg')center 10px no-repeat;
  padding: 30px 10px 0;
  display: inline-block;
  text-decoration: none;
	color: #676a71;
	width: 15px;
	height: 13px;
	&:hover {
		background: url('../components/images/icon-story-2.svg');
		background-repeat: no-repeat;
		color: #FFFFFF;
	}
	@media all and (min-width: 468px) {
			background: urlurl('../components/images/icon-story.svg')left center no-repeat;
		  padding: 0 0 0 30px;
		  display: inline-block;
			color: #FFFFFF;
		}
}

.menu--link-users {
	background: url('../components/images/icon-students.svg')center 10px no-repeat;
  padding: 30px 10px 0;
  display: inline-block;
  text-decoration: none;
	color: #676a71;
	width: 15px;
	height: 13px;
	&:hover {
		background-image: url('../components/images/icon-students-2.svg');
		background-repeat: no-repeat;
		color: #FFFFFF;
	}
	@media all and (min-width: 468px) {
			background: url('../components/images/icon-students.svg')left center no-repeat;
		  padding: 0 0 0 30px;
		  display: inline-block;
			color: #FFFFFF;
		}
}

.menu--link-learn {
	background: url('../components/images/icon-students.svg')center 10px no-repeat;
  padding: 30px 10px 0;
  display: inline-block;
  text-decoration: none;
	color: #676a71;
	width: 15px;
	height: 13px;
	&:hover {
		background-image: url('../components/images/icon-story-2.svg');
		background-repeat: no-repeat;
		color: #FFFFFF;
	}
	@media all and (min-width: 468px) {
			background: url('../components/images/icon-story.svg')left center no-repeat;
		  padding: 0 0 0 30px;
		  display: inline-block;
			color: #FFFFFF;
		}
}

.menu--link-forum {
	background: url('../components/images/icon-students.svg')center 10px no-repeat;
  padding: 30px 10px 0;
  display: inline-block;
  text-decoration: none;
	color: #676a71;
	width: 15px;
	height: 13px;
	&:hover {
		background-image: url('../components/images/icon-students-2.svg');
	}
	@media all and (min-width: 468px) {
			background: url('../components/images/icon-students.svg')left center no-repeat;
		  padding: 0 0 0 30px;
		  display: inline-block;
			color: #FFFFFF;
		}
}

// .menu--link--span {
// 	color: #676a71;
// 	padding-right: 20px;
// 	padding-left: 20px;
// 	display: block;
// 	&:hover {
// 		color: #FFFFFF;
// 	}
// 	@media all and (max-width: 520px) {
// 		padding: 0;
// 	}
// }


.menu--image {
	position: absolute;
	right: 0;
	height: 70px;
	display: flex;
	align-items: center;
	margin-right: 20px;
	@media all and(max-width: 520px) {
		margin-right: 25px;
	}
}

.header--menu-image {
	width: 40px;
	height: 40px;
	@media all and(max-width: 520px) {
		width: 30px;
		height: 30px;
	}
}
