.social {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px; }

.button--social {
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  margin-right: 5px; }

.button--social:after {
  border-left: 10px solid transparent;
  border-right: 20px solid transparent; }

.box--button {
  display: flex; }

.counter {
  background-color: #ffffff; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; }

.profile {
  position: relative;
  padding: 1em; }
  .profile::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    height: 50%;
    background: grey;
    width: 100%; }
  .profile .wrapper {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px; }

.profile--avatar {
  grid-column: 1/2;
  grid-row: span 2; }

.profile--avatar-image {
  width: 100%;
  border-radius: 50%; }

.profile--name {
  display: flex;
  flex-direction: column; }
  @media all and (min-width: 600px) {
    .profile--name {
      flex-direction: row;
      justify-content: flex-start;
      grid-column: 2/3; } }

.profile--name-real {
  margin-right: 15px; }

.profile--name-user {
  font-size: 1em;
  color: #b9bca9; }
  @media all and (min-width: 600px) {
    .profile--name-user {
      margin-top: 35px; } }

.profile--role {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0; }

.icon {
  height: 20px;
  width: 20px; }

.user--data {
  display: flex;
  flex-direction: column; }
  @media all and (min-width: 800px) {
    .user--data {
      flex-direction: row;
      justify-content: space-between; } }

.proyect--number {
  font-size: 1.2em;
  margin-top: 31px; }

.header {
  height: 70px;
  max-height: 70px;
  background-color: #4f4e4d; }

.header--menu--list {
  list-style: none; }
