.order--view {
  width: 170px;
  height: 35px;
  color: #5d6069;
  background: url(../components/images/icon-caret-bottom.svg) no-repeat 145px 12px;
  background-color: #ffffff;
  background-size: 9px;
  margin-right: 20px;
  border-radius: 4px;
  border-color: #cfcfcf;
  padding-left: 5px;
  /*Delete default icon in select for firefox*/
  -moz-appearance: none;
  /*Delete default icon in select for chrome*/
  -webkit-appearance: none; }

/*Delete default icon in select for explorer*/
.order--view::-ms-expand {
  display: none; }

.order--option:hover {
  background-color: #ebebeb; }

.views--grid {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 35px;
  height: 35px;
  border: 1px solid #cfcfcf;
  background: url(../components/images/ico-vista-galeria.svg) no-repeat 11px 10px;
  background-color: #ebebeb; }

.views--list {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 35px;
  height: 35px;
  border: 1px solid #cfcfcf;
  background: url(../components/images/ico-vista-listado.svg) no-repeat 10px 10px;
  background-color: #ffffff; }

.filter {
  width: 170px;
  height: 35px;
  color: #5d6069;
  background: url(../components/images/icon-caret-bottom.svg) no-repeat 145px 12px;
  background-color: #ffffff;
  background-size: 9px;
  text-align: left;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  margin-right: 20px;
  cursor: pointer;
  border-color: #cfcfcf; }

.search {
  width: 170px;
  height: 31px;
  color: #8c919b;
  background: url(../components/images/ico-buscar.svg) no-repeat 10px 10px;
  background-color: #ffffff;
  background-size: 17px;
  padding-left: 30px;
  text-align: left;
  font-style: italic;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  border-color: #cfcfcf;
  line-height: 47px; }

.social {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px; }

.button--social {
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  margin-right: 5px;
  padding: 5px; }

.button--social:after {
  border-left: 10px solid transparent;
  border-right: 20px solid transparent; }

.box--button {
  display: flex;
  margin-right: 20px; }

.counter {
  background-color: #ffffff;
  font-size: 15px; }

.icon--social {
  width: 12px;
  height: 12px;
  background-color: #ffffff; }

.pagination {
  display: flex;
  justify-content: center; }

.pagination-page {
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 1px 3px #c7c7c7;
  padding-left: 20px;
  padding-right: 20px;
  color: #5d6069;
  margin-left: 20px;
  margin-right: 20px;
  max-height: 35px;
  min-height: 35px;
  line-height: 15px; }
  .pagination-page:hover {
    background-color: #dbdee3;
    color: #8c919b;
    cursor: default; }

.button-page {
  overflow: visible;
  background-color: #fff;
  cursor: pointer;
  line-height: 0; }
  .button-page:hover {
    background-color: #dbdee3;
    color: #8c919b;
    cursor: default; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; }

button, input, select {
  outline: none; }

button, select {
  cursor: pointer; }

.main {
  background-color: #e0e0e0;
  flex: 1; }

.header {
  height: 70px;
  max-height: 70px;
  width: 100vw;
  background-color: #373b44;
  display: flex;
  flex-direction: row; }

.header--icon {
  background-color: #82ad3a;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header--icon:hover {
    background-color: #5b7929; }

.header--icon--logo {
  height: 30px;
  width: 30px; }

.header--menu {
  width: 420px; }

.header--menu--list {
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 25px; }
  @media all and (max-width: 520px) {
    .header--menu--list {
      padding: 5px; } }

.menu--link {
  text-decoration: none; }
  @media all and (max-width: 520px) {
    .menu--link {
      display: block; } }

.menu--link-projects {
  background-image: url("../components/images/icon-students.svg");
  background-repeat: no-repeat; }
  .menu--link-projects:hover {
    background-image: url("../components/images/icon-students-2.svg"); }

.menu--link-explore {
  background-image: url("../components/images/icon-story.svg");
  background-repeat: no-repeat; }
  .menu--link-explore:hover {
    background-image: url("../components/images/icon-story-2.svg"); }

.menu--link-users {
  background-image: url("../components/images/icon-students.svg");
  background-repeat: no-repeat; }
  .menu--link-users:hover {
    background-image: url("../components/images/icon-students-2.svg"); }

.menu--link-learn {
  background-image: url("../components/images/icon-story.svg");
  background-repeat: no-repeat; }
  .menu--link-learn:hover {
    background-image: url("../components/images/icon-story-2.svg"); }

.menu--link-forum {
  background-image: url("../components/images/icon-students.svg");
  background-repeat: no-repeat; }
  .menu--link-forum:hover {
    background-image: url("../components/images/icon-students-2.svg"); }

.menu--link--span {
  color: #676a71;
  padding-right: 20px;
  padding-left: 20px; }
  .menu--link--span:hover {
    color: #FFFFFF; }
  @media all and (max-width: 520px) {
    .menu--link--span {
      padding-right: 5px; } }

.menu--button {
  position: absolute;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  margin-right: 20px; }

.header--menu--button {
  width: 170px;
  height: 35px;
  background-color: #ebebeb;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  padding: 0; }
  .header--menu--button:hover {
    background-color: #f6f5f5; }
  @media all and (max-width: 520px) {
    .header--menu--button {
      width: 70px; } }

.explore--toolbar {
  width: 100;
  height: 35px;
  padding: 20px; }

.explore--toolbar--container {
  height: 35px;
  display: flex;
  justify-content: space-between; }

.views--container, .filter-search--container {
  display: flex; }

.icon-down {
  width: 10px;
  height: 10px; }

.wrapper {
  margin: 0 20px; }

.profile {
  position: relative;
  padding: 1em; }
  .profile::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    height: 50%;
    background: #e0e0e0;
    width: 100%; }
  .profile .wrapper {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px; }

.profile--avatar {
  grid-column: 1/2;
  grid-row: span 2; }

.profile--avatar-image {
  width: 100%;
  border-radius: 50%; }

.profile--name {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  grid-column: 2/3; }

.profile--name-real {
  margin-bottom: 5px;
  margin-right: 15px;
  font-size: 1.2em; }
  @media all and (min-width: 770px) {
    .profile--name-real {
      font-size: 1.5em; } }

.profile--name-user {
  font-size: 0.8em;
  color: #8c8c8c;
  margin-top: 18px; }
  @media all and (min-width: 770px) {
    .profile--name-user {
      margin-top: 23px;
      font-size: 1em; } }

.profile--role {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0; }

.proyect--number {
  font-size: 1em;
  margin-top: 5px;
  color: #6b6b6b; }
  @media all and (min-width: 770px) {
    .proyect--number {
      margin-top: 17px;
      font-size: 1.2em; } }

.icon {
  height: 20px;
  width: 20px; }

.user--data {
  display: flex;
  flex-direction: column; }
  @media all and (min-width: 770px) {
    .user--data {
      flex-direction: row;
      justify-content: space-between;
      margin-top: auto; } }
