.order-view {
  min-width: 70px;
  height: 34px;
  background-color: #ffffff;
  color: #8c919b;
  text-align: left;
  font-style: italic;
  margin-right: 20px;
  border-radius: 4px; }

.views--grid {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  width: 35px;
  height: 35px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff; }

.views--list {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  width: 35px;
  height: 35px;
  border: 1px solid #cfcfcf;
  background-color: #ffffff; }

.filter {
  width: 150px;
  height: 34px;
  color: #8c919b;
  background-color: #ffffff;
  background: url(../components/images/icon-caret-bottom.svg) no-repeat 130px 12px;
  background-size: 7px;
  text-align: left;
  font-style: italic;
  border: 1px solid #cfcfcf;
  border-radius: 4px;
  margin-right: 20px; }

.search {
  min-width: 70px;
  height: 30px;
  color: #8c919b;
  background-color: #ffffff;
  background: url(../components/images/icon-hint.svg) no-repeat 4px 7px;
  background-size: 17px;
  padding-left: 30px;
  text-align: left;
  font-style: italic;
  border: 1px solid #cfcfcf;
  border-radius: 4px; }

.social {
  display: flex;
  justify-content: flex-start;
  margin-top: 30px; }

.button--social {
  background-color: #ffffff;
  cursor: pointer;
  border: none;
  margin-right: 5px; }

.button--social:after {
  border-left: 10px solid transparent;
  border-right: 20px solid transparent; }

.box--button {
  display: flex; }

.counter {
  background-color: #ffffff; }

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box; }

button, input, select {
  outline: none; }

.profile {
  position: relative;
  padding: 1em; }
  .profile::before {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    height: 50%;
    background: grey;
    width: 100%; }
  .profile .wrapper {
    position: relative;
    z-index: 2;
    display: grid;
    grid-template-columns: 150px 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 20px; }

.profile--avatar {
  grid-column: 1/2;
  grid-row: span 2; }

.profile--avatar-image {
  width: 100%;
  border-radius: 50%; }

.profile--name {
  display: flex;
  flex-direction: column; }
  @media all and (min-width: 600px) {
    .profile--name {
      flex-direction: row;
      justify-content: flex-start;
      grid-column: 2/3; } }

.profile--name-real {
  margin-right: 15px; }

.profile--name-user {
  font-size: 1em;
  color: #b9bca9; }
  @media all and (min-width: 600px) {
    .profile--name-user {
      margin-top: 35px; } }

.profile--role {
  grid-column: 2/3;
  grid-row: 2/3;
  margin: 0; }

.icon {
  height: 20px;
  width: 20px; }

.user--data {
  display: flex;
  flex-direction: column; }
  @media all and (min-width: 800px) {
    .user--data {
      flex-direction: row;
      justify-content: space-between; } }

.proyect--number {
  font-size: 1.2em;
  margin-top: 31px; }

.header {
  height: 70px;
  max-height: 70px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  background-color: #373b44; }

.header--icon {
  background-color: #82ad3a;
  height: 70px;
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center; }
  .header--icon:hover {
    background-color: #5b7929; }

.header--icon--logo {
  height: 30px;
  width: 30px; }

.header--menu {
  width: 420px; }

.header--menu--list {
  list-style: none;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
  margin-bottom: 15px; }

.header--menu--link {
  color: #676a71;
  display: flex;
  flex-direction: row;
  align-self: center; }
  .header--menu--link:hover {
    color: #FFFFFF; }

.menu--link-icon {
  margin-right: 5px; }

.menu--button {
  position: absolute;
  right: 0;
  height: 70px;
  display: flex;
  align-items: center;
  margin-right: 20px; }

.header--menu--button {
  width: 170px;
  height: 35px;
  background-color: #ebebeb;
  display: flex;
  align-self: center;
  justify-content: center;
  border-radius: 5px;
  padding: 0; }
  .header--menu--button:hover {
    background-color: #f6f5f5; }

.explore--toolbar {
  width: 100;
  height: 35px;
  padding: 20px; }

.explore--toolbar--container {
  height: 35px;
  display: flex;
  justify-content: space-between; }

.views--container, .filter-search--container {
  display: flex; }

.icon-down {
  width: 10px;
  height: 10px; }
